.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background: #D52027;
}

.form__container {
    width: 1160px;
    margin: 85px auto 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form__content {
    width: 475px;
}

.form__content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form__content p {
    font-size: 20px;
}

.form__form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__form input {
    width: 500px;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.form__button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #141024;
    padding: 20px 180px;
}

.form__button:hover {
    background: #221840;
    text-decoration: underline;
}

/* */