.wrap {
    max-width: 1200px;
    margin: 20px auto;
}

.product-cover {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: 150px;
    padding: 30px;
    color: #fff;
    line-height: 150px;
}

.gray {
    background: gray;
}

.blue {
    background: #115588;
}

.pagination-cover {}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    padding: 0;
}