html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Горизонтальное Меню */

.gmenu {
	list-style: none;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 40px;
}

.gmenu li {
	display: inline-block;
}

.gmenu a {
	text-decoration: none;
	color: #f37f4c;
	font-weight: bold;
	border: 1px solid #cc5c35;
	padding: 16px 20px;
	margin-bottom: -1px;
}

.gmenu .current a {
	background: #cc5c35;
	color: white;
}

.gmenu a:hover {
	background: #cc5c35;
	color: white;
}

/* Выпадающее Меню */

.gmenu .sub_menu {
	list-style: none;
	padding: 0;
	display: none;
}

.gmenu .current {
	position: relative;
}

.gmenu .current:hover .sub_menu {
	display: block;
	position: absolute;
	top: 35px;
	left: 0;
}

.gmenu .sub_menu a {
	background: #f27a46;
	width: 160px;
	display: block;
}

.gmenu .sub_menu a:hover {
	background: #cc5c35;
	color: white;
}